.rdw-storybook-editor {
    border: 1px solid silver;
    padding: 5px;
    border-radius: 2px;
    height:650px;
    width: 1090px;
    display: block;
  }

  .rdw-storybook-custom-option {
    background-color: cadetblue;
    border: 2px solid black;
    width: 1090px;
  }
  .rdw-storybook-custom-option > button {
    background-color: brown;
    
  }

  .rdw-storybook-wapper{
    background-color: white;
  }


  